.experience {
  padding: 0 40px;
  /* background: linear-gradient(135deg, #1e1e1e, #2d2d2d); */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-card {
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  text-align: left;
  animation: fadeInUp 1s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 80%;
  position: relative;
}

.company-logo {
  width: 40px;
  height: auto;
  display: block;
}

.experience-location,
.experience-total {
  font-size: 1rem;
  color: #ffcc00;
  margin: 5px 0;
}

.position-card {
  background: #333;
  padding: 12px;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.position-card h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #ff8a00;
}

.experience-display-duration {
  font-style: italic;
  font-size: 1rem;
  color: #ffcc00;
  margin-bottom: 8px;
}

.position-card ul {
  list-style-type: none;
  padding: 0;
  overflow-wrap: anywhere;
  text-align: justify;
}

.position-card li {
  display: flex;
  align-items: center;
  background: #444;
  padding: 8px;
  border-radius: 6px;
  margin: 4px 0;
  transition: background 0.3s ease-in-out;
  color: white;
}

.position-card li:hover {
  background: #555555;
}

.bullet-icon {
  margin-right: 8px;
  color: #ffcc00;
}

.description-list {
  list-style: none;
  /* Remove default bullets */
  padding-left: 0;
}

.description-item {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Space between icon and text */
  margin-bottom: 5px;
  /* Ensure spacing between points */
}

.bullet-icon {
  flex-shrink: 0;
  /* Prevent icon from resizing */
  width: 14px;
  /* Set fixed width */
  height: 14px;
  /* Set fixed height */
  color: #4caf50;
  /* Set desired color */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .experience {
    padding: 30px;
  }

  .experience-card {
    width: 90%;
  }

  .position-card h4 {
    font-size: 1.1rem;
  }

  .experience-location,
  .experience-total {
    font-size: 0.95rem;
  }

  .position-card li {
    padding: 6px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .experience {
    padding: 20px;
  }

  .experience-card {
    width: 95%;
    padding: 15px;
  }

  .position-card {
    padding: 10px;
  }

  .position-card h4 {
    font-size: 1rem;
  }

  .experience-location,
  .experience-total {
    font-size: 0.9rem;
  }

  .position-card li {
    padding: 5px;
    font-size: 0.9rem;
  }

  .company-logo {
    width: 35px;
  }
}